* {
    font-family: 'Arial';
}

details {
    border: 1px solid grey;
}

summary {
    padding: 0.2em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
}

fieldset {
    border: 1px solid grey;
}

.hidden {
    display: none;
}

.columns {
    columns: 3;
}

#attributeHeading {
    break-before: column;
    margin-top: auto;
}

.colors div {
    columns: 2;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#primaryProblemColor,
#primaryWarningColor {
    margin-bottom: 0.5em;
}

button {
    color: black;
    background-color: #E8E8E8;
    padding: 0.4em;
    cursor: pointer;
    border: 1px solid #A6A6A6;
}

button:hover {
    background-color: #CFCFCF;
}

#results ol li {
    color: black;
}

#results ol li:hover {
    text-decoration: underline;
    color: #00008B;
    background-color: #FBFFC2;
    cursor: pointer;
}